<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="lcpi.data.oledb" version="1.7.2.3437" targetFramework="net461" />
  <package id="lcpi.lib" version="2.1.1.1665" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.OracleClient" version="1.0.8" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.5.1" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
</packages>